nav {
    background-color: rgb(36, 5, 12);
    opacity: 90%;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

h1 {
    font-family: 'Allura', cursive;
    font-size: 70px;
    margin: 0;
    padding-left: 12px;
}

.icon {
    margin-top: 6px;
    margin-right: 5px;
}

