h2 {
    font-family: 'Allura', cursive;
    font-size: 65px !important; 
}

.manage {
    margin: 10px !important;
    background-color: #7f798a !important;
    border: outset 2px rgb(220, 212, 212) !important;
}